<div class="rectangle links">
    @if (Repository is not null)
    {
        if (!NoExe)
        {
            <a href="https://github.com/@Repository/releases" class="button" target="_blank">Download tool as executable</a>
        }

        <a href="https://github.com/@Repository" class="button" target="_blank" style="flex: 1">
            <img src="img/github.svg" style="width: 16px; margin-right: 5px" />
            GitHub
        </a>
    }
</div>

@code {
    [Parameter]
    public required string? Repository { get; set; }
    
    [Parameter]
    public required bool NoExe { get; set; }
}
